<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipboardApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClipboardApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClipboardApp.Properties.Settings>
            <setting name="AzureOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIEmbeddingModel" serializeAs="String">
                <value>text-embedding-3-small</value>
            </setting>
            <setting name="OpenAICompletionModel" serializeAs="String">
                <value>gpt-4o</value>
            </setting>
            <setting name="SpacyModel" serializeAs="String">
                <value>ja_core_news_sm</value>
            </setting>
            <setting name="PythonDllPath" serializeAs="String">
                <value>C:\Program Files\Python311\python311.dll</value>
            </setting>
            <setting name="BackupGeneration" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserMaskedDataInOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMergeItemsBySourceApplicationTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorTargetAppNames" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAICompletionBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExtractImageWithPyOCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIEmbeddingBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureOpenAIEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSpacy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TesseractExePath" serializeAs="String">
                <value>C:\Program Files\Tesseract-OCR\tesseract.exe</value>
            </setting>
            <setting name="AutoDescriptionWithOpenAI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFileExtract" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreLineCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AutoExtractImageWithOpenAI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackgroundInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeBackgroundInfoInEmbedding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextWrapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSummary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDevFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbeddingWhenExtractingTextFromImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonVenvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoGenerateTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonExecution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseOCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VectorDBURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDocumentURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoTextWrapping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="NoProxyList" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDocumentReliabilityCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFooter" serializeAs="String">
                <value>True</value>
            </setting>
        </ClipboardApp.Properties.Settings>
        <ClipboardApp.Settings1>
            <setting name="USE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AZURE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPENAI_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="EMBEDDING_MODEL_NAME" serializeAs="String">
                <value>text-embedding-3-small</value>
            </setting>
            <setting name="CHAT_MODEL_NAME" serializeAs="String">
                <value>gpt-4-1106-preview</value>
            </setting>
            <setting name="SPACY_MODEL_NAME" serializeAs="String">
                <value>ja_core_news_lg</value>
            </setting>
            <setting name="USE_VECTOR_DB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VECTOR_DB_URL" serializeAs="String">
                <value />
            </setting>
        </ClipboardApp.Settings1>
    </userSettings>
</configuration>