pillow
python-docx
python-dotenv
python-pptx
tiktoken
beautifulsoup4
chroma-hnswlib==0.7.3
chromadb==0.5.0
openai
langchain==0.3.4
langchain-openai==0.2.3
langchain-community==0.3.3
langchain-chroma
langchain-postgres==0.0.12
magika
openpyxl
markdown
pdfminer.six
chardet
SQLAlchemy
langchain_postgres
psycopg-binary
autogen-agentchat
autogen-ext
wikipedia
flaml[automl]
selenium
webdriver-manager
duckduckgo-search
tiktoken
promptflow-tracing
flask-socketio
flask_cors
psutil
