pyocr
faiss-cpu
llama-index
llama-index-vector-stores-chroma
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai
pydub
scikit-learn
moviepy
speechbrain
spacy
ja-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ja_core_news_sm-3.7.0/ja_core_news_sm-3.7.0-py3-none-any.whl
