<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppCommon.Properties.Misc" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfAppCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfAppCommon.Properties.Misc>
            <setting name="WindowsNotificationLastCheckedTime" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </WpfAppCommon.Properties.Misc>
        <WpfAppCommon.Properties.Settings>
            <setting name="AzureOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIEmbeddingModel" serializeAs="String">
                <value>text-embedding-3-small</value>
            </setting>
            <setting name="OpenAICompletionModel" serializeAs="String">
                <value>gpt-4o</value>
            </setting>
            <setting name="SpacyModel" serializeAs="String">
                <value>ja_core_news_sm</value>
            </setting>
            <setting name="PythonDllPath" serializeAs="String">
                <value>C:\Program Files\Python311\python311.dll</value>
            </setting>
            <setting name="BackupGeneration" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserMaskedDataInOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMergeItemsBySourceApplicationTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorTargetAppNames" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAICompletionBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExtractImageWithPyOCR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenAIEmbeddingBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureOpenAIEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSpacy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TesseractExePath" serializeAs="String">
                <value>C:\Program Files\Tesseract-OCR\tesseract.exe</value>
            </setting>
            <setting name="SyncClipboardItemAndOSFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCommit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDescriptionWithOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoEmbedding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoFileExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreLineCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AutoExtractImageWithOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBackgroundInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeBackgroundInfoInEmbedding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextWrapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSummary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDevFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbeddingWhenExtractingTextFromImage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PythonVenvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="AnalyzeJapaneseSentence" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfAppCommon.Properties.Settings>
    </userSettings>
</configuration>