<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ImageChat.Properties.Settings>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonDllPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PythonVenvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureOpenAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AzureOpenAIEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAICompletionModel" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIEmbeddingModel" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAICompletionBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIEmbeddingBaseURL" serializeAs="String">
                <value />
            </setting>
            <setting name="TextWrapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="NoProxyList" serializeAs="String">
                <value />
            </setting>
        </ImageChat.Properties.Settings>
    </userSettings>
</configuration>