<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="USE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AZURE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPENAI_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="EMBEDDING_MODEL_NAME" serializeAs="String">
                <value>text-embedding-3-small</value>
            </setting>
            <setting name="CHAT_MODEL_NAME" serializeAs="String">
                <value>gpt-4-1106-preview</value>
            </setting>
            <setting name="SPACY_MODEL_NAME" serializeAs="String">
                <value>ja_core_news_lg</value>
            </setting>
            <setting name="USE_VECTOR_DB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VECTOR_DB_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="TAGS" serializeAs="String">
                <value />
            </setting>
            <setting name="USE_PYTHON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PYTHON_DLL_PATH" serializeAs="String">
                <value>C:\Program Files\Python312\python312.dll</value>
            </setting>
            <setting name="BACKUP_GENERATIONS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AZURE_OPENAI_ENDPOINT" serializeAs="String">
                <value />
            </setting>
            <setting name="USE_PYTHON_FLASK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AUTO_DESCRIPTION" serializeAs="String">
                <value>True</value>
            </setting>
        </WpfApp1.Properties.Settings>
        <WpfApp1.Settings1>
            <setting name="USE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AZURE_OPENAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPENAI_API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="EMBEDDING_MODEL_NAME" serializeAs="String">
                <value>text-embedding-3-small</value>
            </setting>
            <setting name="CHAT_MODEL_NAME" serializeAs="String">
                <value>gpt-4-1106-preview</value>
            </setting>
            <setting name="SPACY_MODEL_NAME" serializeAs="String">
                <value>ja_core_news_lg</value>
            </setting>
            <setting name="USE_VECTOR_DB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VECTOR_DB_URL" serializeAs="String">
                <value />
            </setting>
        </WpfApp1.Settings1>
    </userSettings>
</configuration>